/**
 * @file
 * sass/partials/mixins/layout/_style-tools.scss
 */

@mixin custom-button-style(
  $paddings: $button-paddings,
  $border-radius-horiz: $button-border-horiz-radius,
  $border-radius-vert: $button-border-vert-radius
) {
  padding: $paddings;
  @include border-radius($border-radius-horiz, $border-radius-vert);
}
@mixin bulleted-horizontal-menu() {
  @include delimited-list(" • ");
  li::after {
    padding-left: $horizontal-list-padding;
    padding-right: $horizontal-list-padding;
  }
}